<!DOCTYPE html>
<head>
</head>
<body>
  <h1>WHUTZOPEN? HOMEPAGE</h1>
  <form action="demo_form.asp">
  Email: <input type="text" name="email"><br>
  Password: <input type="text" name="password"><br>
  <input type="submit" value="Submit">
</form>
</body>
</html>

