<!DOCTYPE html>
<head>
</head>
<body>
  <div id="header">
    <h1>WHUTZOPEN?</h1>
  </div>  
  <button id="coffee">COFFEE</button>
  <button id="burritos">BURRITOS</button>
  <button id="burgers">BURGERS</button>
  <button id="pasta">PASTA</button>
  <button id="vegan">VEGAN</button>
  <button id="vegetarian">VEGETARIAN</button>
  <button id="doughnuts">DOUGHNUTS</button>
  <button id="beer">BEER</button>
  <button id="pizza">PIZZA</button>
  <button id="cocktails">COCKTAILS</button>
</body>
</html>