<!DOCTYPE html>
<html>
  <body>
  <h1>WHUTZOPEN?</h1>
  <h3>LOG IN HERE</h3>
    <form method="post">
    Email: <input type="text" name="email"><br>
    Password: <input type="text" name="password"><br>
    <input type="submit" value="Submit">
  </form>
  </body>
</html>