<!DOCTYPE html>
<head>
</head>
<body>
<div id="header">
  <h1>WHUTZOPEN? SHOW PAGE</h1>
</div>  

<div id="nav">
    <button>SEARCH</button><br>
    <button>LOG OUT</button><br>
</div>

<iframe width='50%' height='500px' frameBorder='0' src='https://a.tiles.mapbox.com/v4/andrewdpohl.kfnbcn30/attribution,zoompan,zoomwheel,geocoder,share.html?access_token=pk.eyJ1IjoiYW5kcmV3ZHBvaGwiLCJhIjoia0g2VFNjWSJ9.dvDZXc0gCmUkqD916mkNdQ'></iframe>

<div id="section">
  <h3>USER GOES HERE</h3>
  <ul>
    <li>ONE</li>
    <li>TWO</li>
    <li>THREE</li>
    <li>ETC</li>
  </ul>
</div>

<div id="footer">FOOTER GOES HERE</div>
</body>
</html>