<!DOCTYPE html>
<head>
</head>
<body>
  <h1>WHUTZOPEN?</h1>
  
  <h3>Sign Up To Use WhutzOpen?</h3>
  
  <form action="/users" method="post">
    Email: <input type="text" name="email"><br>
    Password: <input type="text" name="password"><br>
    First Name: <input type="text" name="firstName"><br>
    Last Name: <input type="text" name="lastName"><br>
    <input type="submit" value="Submit">
  </form>

  <button id="login">LOG IN HERE</button>

</body>
</html>

