<!DOCTYPE html>
<html>
  <head>
      <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <meta charset="utf-8">
  <title>LOGIN PAGE</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/main.css">
  </head>
  <div class="container">
    <body class="home">
      <h1 class="main_logo">whutzOpen?</h1><br><br>
        <p class="app_phrase">YOUR ONE STOP SHOP TO FIND OUT WHAT IS OPEN, WHEN YOU NEED IT, ANYWHERE</p>

        <form method="get" action="/sign_up">
          <button type="submit" class="btn btn-default">SIGN UP</button><br>
        </form>
        <form method="get" action="/login">
          <button type="submit" class="btn btn-default">LOG IN</button>
        </form>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <script src="js/bootstrap.min.js"></script>
    </body>
  </div>
</html>