<!DOCTYPE html>
<html>
  <head></head>
    <body>
      <h1>WHUTZOPEN?</h1>
      <p>YOUR ONE STOP SHOP TO FIND OUT WHAT IS OPEN, WHEN YOU NEED IT, ANYWHERE</p>
      <nav>
        <form method="get" action="/sign_up">
          <button type="submit">SIGN UP</button><br>
        </form>
        <form method="get" action="/login">
          <button type="submit">LOG IN</button>
        </form>
      </nav>
    </body>
</html>