<!DOCTYPE html>
<head>
  <link href="css/bootstrap.min.css" rel="stylesheet">
</head>
  <body>
    <div id="header">
      <h1>WHUTZOPEN?</h1>
    </div> 
    <div>
      <h1>WELCOME BACK!  LET'S SEE WHUTZOPEN!!</h1>
    </div>
    <form action="/search" method="GET">
      <input type="hidden" name="category" value="coffee">
      <button id="coffee" >COFFEE</button>
    </form>
    <form action="/search" method="GET">
      <input type="hidden" name="category" value="burritos">
      <button id="burritos">BURRITOS</button>
    </form>
    <form action="/search" method="GET">
      <input type="hidden" name="category" value="burgers">
      <button id="burgers">BURGERS</button>
    </form>
    <form action="/search" method="GET">
      <input type="hidden" name="category" value="pasta">
      <button id="pasta">PASTA</button>
    </form>
    <form action="/search" method="GET">
      <input type="hidden" name="category" value="vegan">
      <button id="vegan">VEGAN</button>
    </form>
    <form action="/search" method="GET">
      <input type="hidden" name="category" value="vegetarian">
      <button id="vegetarian">VEGETARIAN</button>
    </form>
    <form action="/search" method="GET">
      <input type="hidden" name="category" value="doughnuts">
      <button id="doughnuts">DOUGHNUTS</button>
    </form>
    <form action="/search" method="GET">
      <input type="hidden" name="category" value="beer">
      <button id="beer">BEER</button>
    </form>
    <form action="/search" method="GET">
      <input type="hidden" name="category" value="pizza">
      <button id="pizza">PIZZA</button>
    </form>
    <form action="/search" method="GET">
      <input type="hidden" name="category" value="cocktails">
      <button id="cocktails">COCKTAILS</button>
    </form>
    


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>