<!DOCTYPE html>
<html>
  <head>
  <title>LOGIN PAGE</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/main.css">
  </head>
    <body class="homey">
    <div class="container">
      <h1 class="main_logo">WHUTZOPEN?</h1>
      <h3 class="log_in_message">LOG IN HERE</h3>
        <form method="POST">
          Email: <input type="text" name="email"><br>
          Password: <input type="text" name="password"><br>
          <input type="submit" value="Submit">
        </form>
    </div>



        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
    </body>
</html>