<!DOCTYPE html>
<html>
  <head>
  <link href='http://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <meta charset="utf-8">
  <title>LOGIN PAGE</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/main.css">
  </head>
  <div class="container">
    <body class="login_home">
      <h1 class="main_logo_login">whutzOpen?</h1>
      <h3 class="log_in">LOG IN HERE</h3>
        <form class="login_form" method="POST">
          <input type="text" name="user[email]" placeholder="Email"><br>
          <input type="password" name="user[password]" placeholder="Password"><br>
          <input type="submit" value="Submit">
        </form> 
        



        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
    </body>
    </div>  
</html>