<!DOCTYPE html>
<html>
  <head>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
  <meta charset="utf-8">
  <title>LOGIN PAGE</title>
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/main.css">
  </head>
  <div class="container">
    <body class="login_home">
      
      <div class="col-xs-12">
        <h1 class="main_logo_login">whutzOpen?</h1>
      </div><br>
      
      <div class="log_in_form col-xs-offset-2 col-xs-8 col-md-offest-4 col-md-4">
        <h3 class="log_in">LOG IN HERE</h3>
          <form class="login_form" method="POST">
            <input type="text" name="user[email]" class="login_form" placeholder="Email"><br>
            <input type="password" name="user[password]" class="login_form" placeholder="Password"><br>
            <button type="submit" class="btn btn-default">SUBMIT</button>
            <!-- <input type="submit" value="Submit"> -->
          </form>
      </div>

        



        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
    </body>
  </div>  
</html>