<!DOCTYPE html>
<html>
  <head>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/main.css">
  </head>
    <body>
      <h1>WHUTZOPEN?</h1>
      
      <h3>Sign Up To Use WhutzOpen?</h3>
      
      <form action="/users" method="post">
        <input type="text" name="user[email]" placeholder="Email"><br>
        <input type="password" name="user[password]" placeholder="Password"><br>
        <input type="text" name="user[firstName]" placeholder="First Name"><br>
        <input type="text" name="user[lastName]" placeholder="Last Name"><br>
        <input type="submit" value="Submit">
      </form>
      
      <form method="get" action="/login">
        <button type="submit" id="login">LOG IN HERE</button>
      </form>
      



      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <script src="js/bootstrap.min.js"></script>
    </body>
</html>

